/* remote */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* /remote */
a {
  color: #18216D;
  text-decoration: none;
  line-height: 20px;
  white-space: nowrap;
}

p {
  color: #18216D;
}

ul {
  list-style: none;
}

body {
  font-family: 'Inter', sans-serif;
  padding: 0 16px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  height: 52px;
}

.header__top {
  display: none;
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  height: 25px;
  margin-bottom: 15px;
}

@media screen and (max-width: 1190px) {
  .header__top {
    display: flex;
  }
}

.header__top-left {
  display: flex;
}

.header__top-left span {
  font-size: 16px;
}

.header__top-right {
  display: flex;
}

.header__bottom {
  display: flex;
}

@media screen and (max-width: 1190px) {
  .header__bottom {
    width: 100%;
  }
}

.header__left {
  flex: 2;
  display: flex;
}

.header__right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (min-width: 1190px) {
  .header .burger {
    display: none;
  }
}

@media screen and (max-width: 1190px) {
  .header__right {
    display: none;
  }
}

@media screen and (min-width: 1190px) {
  .header {
    align-items: center;
  }
}

@media screen and (max-width: 1190px) {
  .header {
    align-items: flex-start;
  }
}

.burger {
  display: flex;
}

.burger__active-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.burger__active-menu li a {
  display: block;
  font-size: 16px;
  color: #FFFFFF;
  padding: 25px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1.5s;
}

.burger li a:hover {
  color: #d6d3e2;
}

.burger__autorization {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 80px;
}

.burger__autorization a {
  color: #FFFFFF !important;
  margin: 0;
  line-height: 20px;
  flex: 1;
}

.sign {
  font-size: 18px;
  font-weight: 500;
  margin-right: 45px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
}

.sign:hover {
  color: #005FEC;
}

.button-download {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 136px;
  text-align: center;
  height: 52px;
  font-size: 17px;
  font-weight: 500;
  color: #FFFFFF;
  border-radius: 6px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1.5s;
}

.button-download:hover {
  background-color: #FFFFFF;
  color: #005FEC;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__text {
  margin-left: 14px;
  font-weight: 600;
  font-size: 20px;
  color: #18216D;
}

.navigations {
  display: flex;
  align-items: center;
}

.navigations ul {
  display: flex;
}

.navigations ul li:not(:last-child) {
  margin-right: 50px;
}

.navigations ul li a {
  font-weight: 500;
}

@media screen and (max-width: 1190px) {
  .navigations ul li a {
    font-size: 30px;
  }
}

@media screen and (min-width: 1190px) {
  .navigations ul li a {
    font-size: 18px;
  }
}

@media screen and (max-width: 1190px) {
  .navigations ul {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1190px) {
  .navigations {
    display: none;
  }
}

@media screen and (min-width: 1190px) {
  .navigations {
    margin: 0 100px;
  }
}

.main {
  height: 400px;
  margin-top: 50px;
}

.performance {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.performance__left-block {
  position: relative;
}

@media screen and (max-width: 1139px) {
  .performance__left-block {
    text-align: center;
  }
}

@media screen and (min-width: 1138px) {
  .performance__left-block {
    margin-right: auto;
    padding-top: 145px;
  }
}

.performance__left-block h2 {
  color: #18216D;
  font-weight: 600;
}

@media screen and (min-width: 750px) {
  .performance__left-block h2 {
    font-size: 48px;
  }
}

@media screen and (max-width: 750px) {
  .performance__left-block h2 {
    font-size: 26px;
  }
}

.performance__left-block p {
  margin: 16px 0 34px 0;
}

@media screen and (min-width: 750px) {
  .performance__left-block p {
    font-size: 17px;
  }
}

@media screen and (max-width: 750px) {
  .performance__left-block p {
    font-size: 14px;
  }
}

.performance__left-block a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 66px;
  font-size: 17px;
  border-radius: 6px;
  background-color: #00ECD0;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1.5s;
}

.performance__left-block a:hover {
  background-color: #FFFFFF;
}

.performance__left-block svg {
  position: absolute;
  bottom: 40px;
  right: 248px;
}

@media screen and (max-width: 1138px) {
  .performance__left-block svg {
    display: none;
  }
}

.performance__right-block {
  text-align: center;
}

@media screen and (min-width: 1245px) {
  .performance__right-block {
    margin-right: 100px;
  }
}

@media screen and (max-width: 1245px) {
  .performance__right-block {
    margin-top: 41px;
  }
}

.performance__right-block img {
  width: 100%;
}

.collaborate {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.collaborate__left-block {
  flex: 1.7;
}

@media screen and (max-width: 801px) {
  .collaborate__left-block {
    margin-bottom: 25px;
  }
}

.collaborate__left-block h3 {
  color: #18216D;
}

@media screen and (max-width: 490px) {
  .collaborate__left-block h3 {
    font-size: 20px;
  }
}

@media screen and (min-width: 490px) {
  .collaborate__left-block h3 {
    font-size: 48px;
  }
}

.collaborate__right-block {
  display: flex;
  flex: 1;
}

@media screen and (min-width: 950px) {
  .collaborate__right-block {
    margin-right: 55px;
  }
}

.collaborate__left-img {
  flex: 1;
  max-height: 134px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collaborate__left-img span {
  flex: 1;
  color: #18216D;
  font-size: 60px;
  font-weight: 700;
}

.collaborate__left-img a {
  font-size: 16px;
  font-weight: 400;
}

.collaborate__img {
  display: flex;
  margin: 10px 0 12px 0;
}

.collaborate__img svg:not(:last-child) {
  margin-right: 5px;
}

.collaborate__right-img {
  flex: 1;
  max-height: 134px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collaborate__right-img span {
  flex: 1;
  color: #18216D;
  font-size: 60px;
  font-weight: 700;
}

.collaborate__right-img a {
  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width: 989px) {
  .collaborate {
    padding: 60px 0 50px 0;
  }
}

@media screen and (min-width: 990px) {
  .collaborate {
    padding: 120px 0 50px 0;
  }
}

@media screen and (max-width: 801px) {
  .collaborate {
    flex-direction: column;
  }
}

.partnership {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 25px;
}

.partnership img {
  display: block;
  width: 130px;
  height: 50px;
  padding: 5px;
}

.spec-features {
  display: flex;
  flex-direction: column;
}

.spec-features__heading {
  align-self: center;
  text-align: center;
  max-width: 542px;
}

.spec-features__heading h2 {
  color: #18216D;
  margin-bottom: 12px;
}

@media screen and (min-width: 750px) {
  .spec-features__heading h2 {
    font-size: 48px;
  }
}

@media screen and (max-width: 750px) {
  .spec-features__heading h2 {
    font-size: 24px;
  }
}

@media screen and (min-width: 750px) {
  .spec-features__heading p {
    font-size: 16px;
  }
}

@media screen and (max-width: 750px) {
  .spec-features__heading p {
    font-size: 14px;
  }
}

.spec-features__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 48px;
}

.spec-features__card {
  display: flex;
  justify-content: space-between;
  flex: 0 1 auto;
  flex-direction: column;
}

.spec-features__card img {
  margin-bottom: 28px;
}

@media screen and (max-width: 820px) {
  .spec-features__card img {
    width: 80px;
    height: 80px;
  }
}

@media screen and (min-width: 820px) {
  .spec-features__card img {
    width: 72px;
    height: 72px;
  }
}

.spec-features__card span {
  color: #18216D;
  font-size: 24px;
  font-weight: 600;
}

.spec-features__card p {
  font-weight: 400;
  font-size: 16px;
  margin: 14px 0 30px 0;
  opacity: 0.6;
  margin-right: 30px;
}

.spec-features__card a {
  font-weight: 500;
  font-size: 20px;
}

@media screen and (max-width: 1245px) {
  .spec-features__card:not(last-child) {
    margin-bottom: 41px;
  }
}

@media screen and (max-width: 991px) {
  .spec-features__card {
    width: 100%;
  }
}

@media screen and (min-width: 990px) {
  .spec-features__card {
    max-width: 320px;
  }
}

@media screen and (max-width: 990px) {
  .spec-features {
    margin-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 990px) {
  .spec-features {
    margin-top: 130px;
    padding-bottom: 150px;
  }
}

#show {
  background-color: #FFFFFF;
  border: 0;
  color: #fff;
  padding: 10px 0;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation {
  position: fixed;
  width: 220px;
  height: 100%;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  transition-delay: 300ms;
  left: 0;
}

.navigation.active {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.navigation.active .navigation__inner {
  background-color: #18216D;
  transform: translate(0, 0);
  transition: transform 300ms linear, background-color 0s linear 599ms;
}

.navigation.active .navigation__inner:after {
  width: 300%;
  border-radius: 50%;
  animation: elastic 150ms ease 300.5ms both;
}

.navigation__inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 999999;
  transform: translate(-100%, 0);
  transition: transform 300ms linear, background-color 0s linear 300ms;
}

.navigation__inner:after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #18216D;
  border-radius: 50%;
  z-index: -1;
  transition: all 300ms linear;
}

@keyframes elastic {
  0% {
    border-radius: 50%;
  }
  45% {
    border-radius: 0;
  }
  65% {
    border-top-right-radius: 40px 50%;
    border-bottom-right-radius: 40px 50%;
  }
  80% {
    border-radius: 0;
  }
  90% {
    border-top-right-radius: 20px 50%;
    border-bottom-right-radius: 20px 50%;
  }
  100% {
    border-radius: 0;
  }
}
